<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762443333409-4leivvjo74hor0qrh9nnn7a7bd2eevn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762443333409-4leivvjo74hor0qrh9nnn7a7bd2eevn1</string>
	<key>API_KEY</key>
	<string>AIzaSyDBpCMLzwCSPCGb3sHRvZ5hbKD9OZDk0lA</string>
	<key>GCM_SENDER_ID</key>
	<string>762443333409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.darttHermes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dartt-hermes</string>
	<key>STORAGE_BUCKET</key>
	<string>dartt-hermes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762443333409:ios:cbd69c26e48caaa85bc860</string>
</dict>
</plist>